body {
  background-image: url("background.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
  background-color: #cc0000;
  color: goldenrod;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #cc0000;
  color: goldenrod;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 20px;
}

nav a {
  color: goldenrod;
  text-decoration: none;
}

main {
  padding: 20px;
}

#history {
  background-color: #cc0000;
  color: goldenrod;
}

#traditions {
  background-color: #cc0000;
  color: goldenrod;
}

.section-class{
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}

