body {
  background-image: url(https://media.istockphoto.com/id/1402929066/vector/happy-chinese-new-year-2023-chinese-new-year-banner-with-circle-for-show-product.jpg?s=612x612&w=0&k=20&c=YRS9kaJZ7Nl8doSiHI2LNA8WvenSf_v9zpwO-EfhFlA=);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #cc0000;
    color: goldenrod;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #cc0000;
    color: goldenrod;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    padding: 0 20px;
  }
  
  nav a {
    color: goldenrod;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  

  #history {
    background-color: #cc0000;
    color: goldenrod;
    padding: 20px;
  }
  
  #traditions {
    background-color: #cc0000;
    color: goldenrod;
